//Primary colors
$info: #ff079c;
$primary: #715CDD;
$danger: #FF465C;
$success: #529576;
$warning:#dace19;
$white: #fff;


$dark: #111;

//Link colors
$link: $primary;

$success_light: #52AE68;
$grey: #EAEEFF;
$grey_light : #d3d3d3;

// fonts
$family-serif: "Red Hat Display", sans-serif;
$family-primary: $family-serif;